<div class="container mt-5">
    <div style="text-align: center;">
        <h1>Search Jobs and Internships in Iowa</h1>
        <p class="lead"><strong>If you are a student at one of ICF's 23 colleges and universities,
            please sign up and login
            <br> 
            to discover jobs and internships to help match your career goals!</strong><p>
        <div class="text-center">

            <!-- <input type="button" [usersFromJobComponent]="users" class="btn btn-primary btn-lg shadow-sm mr-2" (click)="onRegisterBtn()" value="Sign Up"/> -->
            <!-- <button (click)="registerToggle()" class="btn btn-primary btn-lg shadow-sm mr-2">Register</button> -->
             <input type="button" class="btn btn-primary btn-lg shadow-sm ml-2" (click)="onRegisterBtn()" value="Register"/>
             <input type="button" class="btn btn-primary btn-lg shadow-sm ml-2" (click)="onLoginBtn()" value="Login"/>
             <input type="button" class="btn btn-secondary btn-lg shadow-sm ml-2" (click)="cancel()" value="Cancel"/>

            <!-- <button class="btn btn-info btn-lg ">Learn more</button> -->
        </div>
    </div>

    <div *ngIf="registerMode" class="container">
        <div class="row justify-content-center">
            <div class="col-12">
               <!-- <app-register [usersFromJobComponent]="users" (cancelRegister)="cancelRegisterMode($event)" ></app-register> -->
               <app-register (cancelRegister)="cancelRegisterMode($event)" ></app-register>
            </div>
        </div>
    </div>
</div>
