            <div class="row shadow" style="margin-left: 25px" *ngIf="colMember">
                <div class="col-4">
                    
                    <div class="card" *ngIf="colMember.colUserType == 'College'">
                        <img src="{{colMember.colUrl}}" alt="{{colMember.collegeName}}" 
                            class="card-img-top img-thumbnail">
                        <div class="card-body">
                            <div>
                                <p> <u><strong>-- {{colMember.collegeName}} --</strong></u>
                                   <br>Location:<br>
                                    <strong>{{colMember.collegeLocation}}</strong>
                                    <br>Enrollment:<br>
                                    <strong>{{colMember.collegeEnrollment}}</strong>
                                    <br>Profile Last Updated:<br>
                                    <strong>{{colMember.created | date: "MM/dd/yyyy"}}</strong>
                                    <br>Date of Last Activity:<br>
                                    <strong>{{colMember.lastActive | date: "MM/dd/yyyy"}}</strong>
                                </p>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="btn-group d-flex">
                                <button class="btn btn-primary">Possible Fit</button>
                                <button class="btn btn-success">Message</button>
                            </div>
                        </div>
                    </div>
                
                    <div class="card" *ngIf="colMember.colUserType == 'ColLead'">
                        <img src="{{colMember.hsStudentUrl || '../../assets/images/coluser.PNG'}}" alt="{{colMember.firstName}}" 
                            class="card-img-top img-thumbnail">
                        <div class="card-body">
                            <div>
                                <p> <u><strong>-- {{colMember.firstName}} --</strong></u>
                                    <br>Year in School<br>
                                    <strong>{{colMember.classYear}}</strong>
                                    <br>High School:<br>
                                    <strong>{{colMember.hsName}}</strong>
                                    <br>High School Location:<br>
                                    <strong>{{colMember.hsLocation}}</strong>
                                    <br>Date Profile was Created:<br>
                                    <strong>{{colMember.created | date: "MM/dd/yyyy"}}</strong>
                                    <br>Date Last Active:<br>
                                    <strong>{{colMember.lastActive | date: "MM/dd/yyyy"}}</strong>
                                </p>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="btn-group d-flex">
                                <button class="btn btn-primary">Possible Fit</button>
                                <button class="btn btn-success">Message</button>
                            </div>
                        </div>
                    </div>
                </div>
            
            
                <div class="col-8" *ngIf=" colMember.colUserType == 'ColLead'" >
                    <tabset class="member-tabset">
                        <tab heading='About {{colMember.firstName}}'>
                            <u><h4>Academic Information</h4></u>
                            <h4>Extra-Curricular Activities</h4>
                            <p>{{colMember.extraCurricular}}</p>
                            <h4>GPA:</h4> {{colMember.gpa}}
                            <h4>Graduation Date:</h4> {{colMember.gradDate}}
                            <h4>Proposed Major</h4>
                            <p>{{colMember.proposedMajor}}</p>
                            <h4>Dream Job</h4>
                            <p>{{colMember.dreamJob}}</p>
                        </tab>
                        <tab heading='Messages'>
                            <h4>Messages</h4>
                        </tab>
                    </tabset>
                </div>
            
                <div class="col-8" *ngIf="colMember.colUserType == 'College'" >
                    <tabset class="member-tabset">
                        <tab heading='About'>
                            <h4>{{colMember.collegeName}}</h4>
                            <br>
                            <p>{{colMember.collegeDescription}}</p>
                            <h4>Special Facts and Features</h4>
                            <p>
                            * yada yada yada<br>
                            * yada yada yada<br>
                            * yada yada yada</p>
                            <h4>Tuition and Fiancial Aid:</h4>
                            <p>
                                <strong>Tuition:        </strong>{{colMember.tuition}}<br>
                                <u><strong>Average Tuition Aid Package: </strong>{{colMember.averageAid}}</u><br>
                                <strong>Avg net tution cost per year: </strong>{{colMember.netPay}}<br>
                            </p>
                            <h4>{{colMember.collegeName}}'s Address:</h4>
                            <p>
                                {{colMember.collegeStreet}}<br>
                                {{colMember.collegeCity}}, {{colMember.collegeState}} {{colMember.collegeZip}}<br><br>
                                <strong>{{colMember.collegeName}}'s Website:</strong> {{colMember.collegeWebsite}}<br>
                                <strong>Virtual Tour of Campus:</strong> {{colMember.collegeVirtual}}
                            </p>
                        </tab>
                        <tab heading='Admissions Office'>
                            <br>
                            <h4>Who to Contact in Admissions:</h4>
                            <br>
                            <ng-container *ngIf="colMember.adminUrl">
                                <img src="{{colMember.adminUrl}}" alt="{{colMember.adminContact}}"
                                    class="img-adminthumbnail">
                                </ng-container>    
                                <p>{{colMember.adminContact}}
                                    <br>
                                    {{colMember.adminTitle}}
                                </p>
                            
                            <strong>Send {{colMember.adminContact}} an Email:</strong> {{colMember.collegeEmail}}
                            <br>
                            <strong>Or use the messaging service in the next panel.</strong>
                        </tab>
                        <tab heading='Message {{colMember.adminContact}}'>
                            <h4>Messages</h4>
                        </tab>
                    </tabset>
                </div>
            