.card-body {
    text-align: center;
}

.img-adminthumbnail {
    margin: 0px;
    width: 15%;
    height: 15%
}


.card-body {
    padding: 0 0px;
}

card-footer {
    padding: 10px 15px;
    background-color: #fff;
    border-top: none;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px
  }
  
