<div class="row shadow" style="margin-left: 25px">
    <div class="col-4">
        
        <!-- <div class="card" *ngIf="member.appUserType == 'ColStudent'"> -->

            <div class="card">

            <img src="{{member.studentUrl || '.assets/user.png'}}" alt="{{member.firstName}}"
                class="card-img-top img-studthumbnail">
            <div class="card-body">
                <div class="mb-1" *ngIf="(presence.onlineUsers$ | async).includes(member.username)">
                    <i class="fa fa-user-circle text-success"></i> Online now
                </div>
                <div>
                    <p> <u><strong>-- {{member.firstName}} {{member.lastName}} --</strong></u>
                        <br><strong>{{member.classYear}} {{member.major}} Major</strong>
                        <br> from <br>
                        <strong>{{member.hometown}}</strong>
                        <br> attending <br>
                        <strong>{{member.college}}</strong>
                        <br> Profile Created: <br>
                        <strong>{{member.created | date: "MMM dd yyyy" }}</strong>
                        <br> Last Activity: <br>
                        <strong>{{member.lastActive | timeago }}</strong>
                    </p>
                </div>
            </div>
            
            <div class="card-footer">
                <div class="btn-group d-flex">
                    <!-- <button class="btn btn-primary mr-2">Possible Fit</button> -->
                    <button (click)="selectTab(2)" class="btn btn-success btn-block">Send {{member.firstName}} a Message</button>
                </div>
            </div>
        </div>
    </div>
    
     
        <div class="col-8">

        <tabset class="member-tabset" #memberTabs>
            <tab heading='About {{member.firstName}}' (selectTab)="onTabActivated($event)">
                <h4>Academic Highlights</h4>
                <p>{{member.academicPlus}}<br>
                <strong>GPA: </strong>{{member.gpa}}<br>
                <strong>Grad Date: </strong>{{member.gradDate | date: "MMM dd yyyy"}}
                </p>
                <h4>Work Experiences</h4>
                <p>{{member.workPlus}}</p>
                <h4>Dream Job</h4>
                <p>{{member.dreamJob}}</p>
                <h4>Resume</h4>
                <button class="btn btn-info">Resume</button>
            </tab>
            <tab heading='Extra-Curricular' (selectTab)="onTabActivated($event)">
                <h4>Athletics</h4>
                <p>{{member.athletics}}</p>
                <h4>Involvement in the Arts</h4>
                <p>{{member.arts}}<br>
                <h4>Clubs and Organizations</h4>
                <p>{{member.extraCurricular}}</p>
                <h4>Best way to contact {{member.firstName}}:</h4>
                <p *ngIf="member.bestEmail">Email:
                    {{member.bestEmail}}</p>
                <p *ngIf="member.bestPhone">Phone:
                        {{member.bestPhone}}</p>
            </tab>
            <tab heading='Messages' (selectTab)="onTabActivated($event)">
                <app-member-messages [username]="member.username"></app-member-messages>
            </tab>

        </tabset>
    </div>
<!-- 
    <div class="col-8" *ngIf="member.appUserType == 'EmpHr'" >
        <tabset class="member-tabset" #memberTabs>
            <tab heading='Position Details' (selectTab)="onTabActivated($event)">
                <h4>{{member.position}} {{member.positionType}}</h4>
                <br>
                <h4>Position Description</h4>
                <p>{{member.positionDescription}}</p>
                <h4>What we are looking for</h4>
                <p>{{member.lookingFor}}</p>
                <h4>Start Date</h4>
                <p>{{member.startDate | date: "MM/dd/yyyy"}}</p>
                <h4>About {{member.company}}</h4>
                <p>{{member.companyDescription}}</p>
            </tab>
            <tab heading='Application Details' (selectTab)="onTabActivated($event)">
                <h4>How to Apply</h4>
                <p>{{member.howToApply}}</p>
                <p *ngIf="member.applyEmail">Click on link to apply:
                    <br>
                    {{member.applyEmail}}</p>
                <h4>Contact Person</h4>
                <ng-container *ngIf="member.hrUrl">
                <img src="{{member.hrUrl}}" alt="{{member.contact}}"
                    class="img-hrthumbnail">
                </ng-container>    
                <p>{{member.contact}}
                    <br>
                    {{member.contactTitle}}
                </p>
                
            </tab>
           
            <tab heading='Messages' (selectTab)="onTabActivated($event)">
                <app-member-messages [messages]="messages" ></app-member-messages>
            </tab>


        </tabset>
    </div> -->
