<div class="row shadow" style="margin-left: 25px" *ngIf="member">
    <div class="col-4">
        
        <div class="card" *ngIf="member.appUserType == 'ColStudent'">
            <img src="{{member.studentUrl || '.assets/user.png'}}" alt="{{member.firstName}}"
                class="card-img-top img-studthumbnail">
            <div class="card-body">
                <div>
                    <p> <u><strong>-- {{member.firstName}} {{member.lastName}} --</strong></u>
                        <br><strong>{{member.classYear}} {{member.major}} Major</strong>
                        <br> from <br>
                        <strong>{{member.hometown}}</strong>
                        <br> attending <br>
                        <strong>{{member.college}}</strong>
                        <br> Profile Created: <br>
                        <strong>{{member.created | date: "MMM dd yyyy" }}</strong>
                        <br> Last Activity: <br>
                        <strong>{{member.lastActive | timeago }}</strong>
                    </p>
                </div>
            </div>
            <div class="card-footer">
                <div class="btn-group d-flex">
                    <button class="btn btn-primary">Possible Fit</button>
                    <button class="btn btn-success">Message</button>
                </div>
            </div>
        </div>
    
        <div class="card" *ngIf="member.appUserType == 'EmpHr'">
            <img src="{{member.logoUrl || '../../assets/images/logo.PNG' }}" alt="{{member.company}}"
                class="card-img-top img-studthumbnail">
            <div class="card-body">
                <div>
                    <p> <u><strong>{{member.company}}</strong></u>
                        <br> Position: <strong>{{member.position}}</strong>
                        <br> Type of Position: <strong>{{member.positionType}}</strong>
                        <br> Position Location: <strong>{{member.positionLocation}}</strong>
                        <br>Start Date: <strong>{{member.startDate | date: "MMM dd yyyy" }}</strong>
                        <br>Date Position was Posted: <strong>{{member.created | date: "MMM dd yyyy" }}</strong>
                        <br>Application Deadline to fix: <strong>{{member.lastActive | timeago }}</strong>
                    </p>
                </div>
            </div>
            <div class="card-footer">
                <div class="btn-group d-flex">
                    <button class="btn btn-primary">Possible Fit</button>
                    <button class="btn btn-success">Message</button>
                </div>
            </div>
        </div>
    </div>


    <div class="col-8" *ngIf="member.appUserType == 'ColStudent'" >
        <tabset class="member-tabset">
            <tab heading='About {{member.firstName}}'>
                <h4>Academic Accomplishments</h4>
                <p>{{member.academicPlus}}<br>
                <strong>GPA: </strong>{{member.gpa}}<br>
                <strong>Grad Date: </strong>{{member.gradDate | date: "MMM dd yyyy"}}
                </p>
                <h4>Work Experiences</h4>
                <p>{{member.workPlus}}</p>
                <h4>Dream Job</h4>
                <p>{{member.workPlus}}</p>
                <h4>Resume</h4>
                <button>Resume</button>
            </tab>
            <tab heading='Extra-Curricular'>
                <h4>Involement in Athletics </h4>
                <p>Varsity basketball</p>
                <h4>Involvement in the Arts</h4>
                <p>Dance <br>
                Theatre</p>
                <h4>Clubs and Organizations</h4>
                <p>Student Government<br>
                Eagle Scout</p>
                <h4>Best way to contact {{member.firstName}}:</h4>
                <p *ngIf="member.bestEmail">Email:
                    {{member.bestEmail}}</p>
                <p *ngIf="member.bestPhone">Phone:
                        {{member.bestPhone}}</p>
            </tab>
            <tab heading='Messages'>
                <app-member-messages [username]="member.username" ></app-member-messages>
            </tab>

            <!-- <tab heading='Photos'>
                <ngx-gallery [options]= "studentGalleryOptions" [images]="studentGalleryImages" 
                    style="display: inline-block; margin-bottom: 20px;"></ngx-gallery>
            </tab> -->

        </tabset>
    </div>

    <div class="col-8" *ngIf="member.appUserType == 'EmpHr'" >
        <tabset class="member-tabset">
            <tab heading='Position Details'>
                <h4>{{member.position}} {{member.positionType}}</h4>
                <br>
                <h4>Position Description</h4>
                <p>{{member.positionDescription}}</p>
                <h4>What we are looking for</h4>
                <p>{{member.lookingFor}}</p>
                <h4>Start Date</h4>
                <p>{{member.startDate | date: "MM/dd/yyyy"}}</p>
                <h4>About {{member.company}}</h4>
                <p>{{member.companyDescription}}</p>
            </tab>
            <tab heading='Application Details'>
                <h4>How to Apply</h4>
                <p>{{member.howToApply}}</p>
                <p *ngIf="member.applyEmail">Click on link to apply:
                    <br>
                    {{member.applyEmail}}</p>
                <h4>Contact Person</h4>
                <ng-container *ngIf="member.hrUrl">
                <img src="{{member.hrUrl}}" alt="{{member.contact}}"
                    class="img-hrthumbnail">
                </ng-container>    
                <p>{{member.contact}}
                    <br>
                    {{member.contactTitle}}
                </p>
                
            </tab>
           
            <tab heading='Messages'>
                <app-member-messages [username]="member.username" ></app-member-messages>
            </tab>

            <!-- <tab heading='Photos'>
                <ngx-gallery [options]= "companyGalleryOptions" [images]="companyGalleryImages"
                    style="display: inline-block; margin-bottom: 20px;"></ngx-gallery>
            </tab> -->

        </tabset>
    </div>
