<div class="text-center">
    <img src='../../assets/ICF_Logo.jpg' height="150" width="150" asp-append-version="true"/> <br/>
    <h1 class="display-4">ICF Connections</h1>
    <hr/>
    <h3 class="headline">Connecting Students with Private Colleges & Universities in Iowa</h3>
    <h4 class="subhead">and</h4>
    <h3 Class="headline" >Iowa Companies and Organizations with Students</h3>
    <br/>
    <!-- <p>
    <a href="https://www.iowacollegefoundation.org/"
       class="stretched-link" >Visit ICF's Website</a>
    </p> -->
</div>