<div class="row">
    <div class="col-10 m-auto shadow-lg p-0 bg-white">
        <div class="card m-auto">
            <div class="card-header">
                <h3>Sign Up</h3>
            </div>
            <div class="card-body">

                <form [formGroup]='registerForm' (ngSubmit)="registerForm.valid && register()" autocomplete="off">

                    <app-text-input [formControl]='registerForm.controls["username"]' 
                        [label]='"Username"'>
                    </app-text-input>
                    <app-text-input [formControl]='registerForm.controls["firstName"]' 
                        [label]='"First Name"'>
                    </app-text-input>
                    <app-text-input [formControl]='registerForm.controls["major"]' 
                        [label]='"Major"'>
                    </app-text-input>

                    <div class="form-group">
                        <label class="control-label" style="margin-right: 10px;">Class Year: </label>
                        <label class="radio-inline">
                            <input type="radio" value='Freshman' formControlName="classYear"> Freshman
                        </label>
                        <label class="radio-inline">
                            <input type="radio" value='Sophomore' formControlName="classYear" class="ml-2"> Sophomore
                        </label>
                        <label class="radio-inline">
                            <input type="radio" value='Junior' formControlName="classYear" class="ml-2"> Junior
                        </label>
                        <label class="radio-inline">
                            <input type="radio" value='Senior' formControlName="classYear" class="ml-2"> Senior
                        </label>
                    </div>  
                    <app-date-input [formControl]='registerForm.controls["gradDate"]' 
                        [label]='"Graduation Date"'>
                    </app-date-input>

                    <app-text-input [formControl]='registerForm.controls["hometown"]'
                        [label]='"Hometowm"'>
                    </app-text-input>
                    <app-text-input [formControl]='registerForm.controls["college"]' 
                        [label]='"College/University"'>
                    </app-text-input>
                    <app-text-input [formControl]='registerForm.controls["password"]' [label]='"Password"'
                        [type]='"password"'>
                    </app-text-input>
                    <app-text-input [formControl]='registerForm.controls["confirmPassword"]'
                        [label]='"Confirm Password"' [type]='"password"'>
                    </app-text-input>

                    <div class="row" *ngIf="validationErrors.length > 0">
                        <ul class="text-danger">
                            <li *ngFor="let error of validationErrors">
                                {{error}}
                            </li>
                        </ul>
                    </div>

                    <div class="form-group">
                        <button [disabled]='!registerForm.valid' type="submit" class="btn btn-primary mr-3">Register</button>
                        <button type="button" class="btn btn-secondary ml-1" (click)="cancel()">Cancel</button>
                    </div>
                </form>
    