<nav class="navbar navbar-expand-md navbar-dark bg-primary">
  
    <div class="container">
      <img src='../../assets/ICF_Logo.jpg' routerLink="/" class="logo" height="40" width="40" style="margin-right: 20px; margin-left: 50px"/>  
      <a class="navbar-brand" style="margin-right: 80px" routerLink="/">ICF Connect</a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" 
        data-target="#navbarCollapse" aria-controls="navbarCollapse" 
        aria-expanded="true" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="navbar-collapse collapse show" id="navbarCollapse" style>
      
      <ul class="navbar-nav mr-auto" style="font-size: 1.3em">
       
        <!-- <li class="nav-item dropdown ml-5">
          <a class="nav-link active dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Colleges</a>
          <div class="dropdown-menu" aria-labelledby="dropdown01">
            <a class="dropdown-item" routerLink='/college'>Search Colleges</a>
            <a *ngIf="colAccountService.currentUser$ | async"  class="dropdown-item" routerLink='/colmemberlist'>See Results</a>
            <a *ngIf="colAccountService.currentUser$ | async"  class="dropdown-item" routerLink='/collists'>Lists</a>
            <a *ngIf="colAccountService.currentUser$ | async"  class="dropdown-item" routerLink='/colmessages'>Messages</a>
          </div>
        </li>     

        <li class="nav-item dropdown">
          <a class="nav-link active dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">HS Students</a>
          <div class="dropdown-menu" aria-labelledby="dropdown01">
            <a class="dropdown-item" routerLink='/hsstudent'>Search HS Students</a>
            <a *ngIf="colAccountService.currentUser$ | async"  class="dropdown-item" routerLink='/colmemberlist'>See Results</a>
            <a *ngIf="colAccountService.currentUser$ | async"  class="dropdown-item" routerLink='/collists'>Lists</a>
            <a *ngIf="colAccountService.currentUser$ | async"  class="dropdown-item" routerLink='/colmessages'>Messages</a>
          </div>
        </li>  -->
      
        <li class="nav-item dropdown ml-5 mr-5">
          <a class="nav-link active dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Search Talent</a>
          <div class="dropdown-menu" aria-labelledby="dropdown01">
            <a class="dropdown-item" routerLink='/talent'>Search Talent</a>
            <a *ngIf="accountService.currentUser$ | async"  class="dropdown-item" routerLink='/memberlist'>See Results</a>
            <a *ngIf="accountService.currentUser$ | async"  class="dropdown-item" routerLink='/lists'>Good Fits</a>
            <a *ngIf="accountService.currentUser$ | async"  class="dropdown-item" routerLink='/messages'>Messages</a>
          </div>
        </li>   
        
        <li class="nav-item dropdown">
          <a class="nav-link active dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Search Internships/Jobs</a>
          <div class="dropdown-menu" aria-labelledby="dropdown01">
            <a class="dropdown-item" routerLink='/job'>Search Jobs/Internships</a>
            <a *ngIf="accountService.currentUser$ | async"  class="dropdown-item" routerLink='/memberlist'>See Results</a>
            <a *ngIf="accountService.currentUser$ | async"  class="dropdown-item" routerLink='/lists'>Good Fits</a>
            <a *ngIf="accountService.currentUser$ | async"  class="dropdown-item" routerLink='/messages'>Messages</a>
          </div>
        </li>
        <li *appHasRole='["Admin", "Moderator"]' class="nav-item">
          <a class="nav-link" routerLink='/admin' routerLinkAcive='active'>Admin</a>
        </li>
      </ul>
    
      <div *ngIf="accountService.appUserType == 'Admin'">
        <div class="dropdown" *ngIf="(accountService.currentUser$ | async) as user" dropdown>
          <img src="{{user.logoUrl || '../../assets/ICF_Logo.jpg' }}" alt="{{user.userName}}" class="logo">
          <a class="dropdown-toggle text-light ml-2" dropdownToggle>Welcome {{user.userName | titlecase}}</a>
            <div class="dropdown-menu mt-2" *dropdownMenu>
              <a routerLink='/company/edit' class="dropdown-item">Edit Profile</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" (click)="logout()">Logout user</a>
              </div>
          </div>
        </div>
  
    <div *ngIf="accountService.appUserType == 'EmpHr'">
      <div class="dropdown" *ngIf="(accountService.currentUser$ | async) as user" dropdown>
        <img src="{{user.logoUrl || '../../assets/images/logo.PNG' }}" alt="{{user.userName}}" class="logo">
        <a class="dropdown-toggle text-light ml-2" dropdownToggle>Welcome {{user.firstName || user.username | titlecase}}</a>
          <div class="dropdown-menu mt-2" *dropdownMenu>
            <a routerLink='/company/edit' class="dropdown-item">Edit Profile</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" (click)="logout()">Logout user</a>
            </div>
        </div>
      </div>
    
  
    <div *ngIf="accountService.appUserType == 'ColStudent'">
      <div class="dropdown" *ngIf="(accountService.currentUser$ | async) as user" dropdown>
        <img src="{{user.studentUrl || '../../assets/images/coluser.PNG'}}" alt="{{user.userName}}">
          <a class="dropdown-toggle text-light ml-2" dropdownToggle>Welcome {{user.firstName || user.username | titlecase}}</a>
          <div class="dropdown-menu mt-2" *dropdownMenu>
            <a routerLink='/member/edit' class="dropdown-item">Edit Profile</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" (click)="logout()">Logout user</a>
            </div>
        </div>
      </div>

      <div *ngIf="colAccountService.colUserType == 'College'">
          <div class="dropdown" *ngIf="(colAccountService.currentUser$ | async) as colUser" dropdown>
            <div class="dropdown" style="font-size: 1.3em" dropdown>
              <a class="dropdown-toggle text-light" dropdownToggle>Welcome {{colUser.colUserName | titlecase}} </a>
              <div class="dropdown-menu mt-3" *dropdownMenu>
                <a routerLink='/college/edit' class="dropdown-item">Edit Profile</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" (click)="colLogout()">Logout coluser</a>
              </div>
            </div> 
          </div>
      </div>

      <div *ngIf="colAccountService.colUserType == 'ColLead'">
        <div class="dropdown" *ngIf="(colAccountService.currentUser$ | async) as colUser" dropdown>
          <div class="dropdown" style="font-size: 1.3em" dropdown>
            <a class="dropdown-toggle text-light" dropdownToggle>Welcome {{colUser.colUserName | titlecase}} </a>
            <div class="dropdown-menu mt-3" *dropdownMenu>
              <a routerLink='/hs/edit' class="dropdown-item">Edit Profile</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" (click)="colLogout()">Logout coluser</a>
            </div>
          </div> 
        </div>
    </div>
      
</div>
</div>
</nav>