<div class="row shadow" style="margin-left: 25px" *ngIf="member">
    <div class="col-4">
        <h2>Please edit your profile:</h2> 
    </div>
    <div class="col-8">
        <div class="alert alert-info" *ngIf="editForm.dirty">
            <p> <strong>Information: </strong>You have made changes. Any unsaved changes will be lost. </p>
        </div>
    </div>     
    
    <div class="col-4">
        <div class="card">
            <img src="{{member.logoUrl || '../../assets/images/logo.PNG'}}" alt="{{member.company}}"
                class="card-img-top img-logoUrl">
            <div class="card-body text-center">
                
                <div>
                    <u><strong>-- {{member.company}} --</strong></u>
                </div>
                <div>
                    <strong>Position: </strong> {{member.position}}
                </div>  
                <div>
                    <strong>Type of Position: </strong> {{member.positionType}}
                </div>   
                <div>
                    <strong>Position Location: </strong> {{member.positionLocation}}
                </div> 
                <div>
                    <strong>Position Start Date: </strong> {{member.startDate | date: "MM/dd/yyyy"}}
                </div> 
            </div>

            <div class="card-footer">
                <div class="btn-group d-flex">
                    <button [disabled]="!editForm.dirty" form="editForm" class="btn btn-success mr-2">Click to Save Changes</button>
                    <button  [disabled]="editForm.dirty" routerLink='/compmembers/{{member.username}}' class="btn btn-primary">Click to see Profile</button>
                </div>
             </div>
             </div>
    </div>

    <div class="col-8">
        <tabset class="member-tabset">
            <tab heading='Edit Profile Content'>
                <form 
                #scrolMe
                style="overflow: scroll; height: 500px; width: 450px;"
                [scrollTop]="scrolMe.scrollHeight" 
                
                #editForm="ngForm" id="editForm" (ngSubmit)="updateMember()">
                    <u><strong><h5>Card Information</h5></strong></u>
                    <label for="position"><strong>Position: </strong></label>
                    <input [(ngModel)]="member.position" type="text" name="position" class="form-control mb-2">
                    <label for="positionType"><strong>Position Type: </strong></label>
                    <input [(ngModel)]="member.positionType" type="text" name="positionType" class="form-control mb-2">
                    <label for="positionLocation"><strong>Position Location: </strong></label>
                    <input [(ngModel)]="member.positionLocation" type="text" name="positionLocation" class="form-control mb-2">
                    <label for="startDate"><strong>Start Date: </strong></label>
                    <input [(ngModel)]="member.startDate" type="text" name="startDate" class="form-control mb-2">
                    <label for="appDeadline"><strong>Application Deadline: </strong></label>
                    <input [(ngModel)]="member.appDeadline" type="text" name="appDeadline" class="form-control mb-2">
                   
                    <u><strong><h5>Position Details</h5></strong></u>
                    <label for="positionDescription"><strong>Position Description: </strong></label>
                    <textarea [(ngModel)]="member.positionDescription" name="positionDescription" class="form-control mb-2" rows="3" ></textarea>
                    <label for="lookingFor"><strong>What we are looking for: </strong></label>
                    <textarea [(ngModel)]="member.lookingFor" name="lookingFor" class="form-control mb-2" rows="3" ></textarea>
                    <label for="lookingFor"><strong>About {{member.company}}: </strong></label>
                    <textarea [(ngModel)]="member.companyDescription" name="companyDescription" class="form-control mb-2" rows="3" ></textarea>
                    
                    <u><strong><h5>Application Details</h5></strong></u>
                    <label for="howToApply"><strong>How to apply: </strong></label>
                    <textarea [(ngModel)]="member.howToApply" name="howToApply" class="form-control mb-2" rows="3" ></textarea>
                    <label for="applyEmail"><strong>Link to apply: </strong></label>
                    <input [(ngModel)]="member.applyEmail" type="text" name="applyEmail" class="form-control mb-2">
                    <label for="contact"><strong>Contact name: </strong></label>
                    <input [(ngModel)]="member.contact" type="text" name="contact" class="form-control mb-2">
                    <label for="contactTitle"><strong>Contact title: </strong></label>
                    <input [(ngModel)]="member.contactTitle" type="text" name="contactTitle" class="form-control mb-2">
                 </form>           
            </tab>

            <!-- <tab heading='Position Details'>
                <form>
                    <h4>Position description</h4>
                    <textarea class="form-control" [(ngModel)]="member.positionDescription" name="positionDescription" rows="3"></textarea>
                    <h4 class="mt-2">What we are looking for</h4>
                    <textarea [(ngModel)]="member.lookingFor" name="lookingFor" rows="3"></textarea>
                    <h4 class="mt-2">About {{member.company}}</h4>
                    <textarea [(ngModel)]="member.companyDescription"  name="companyDescription" rows="3"></textarea>
                    <h4 class="mt-2">Link to Apply: </h4>
                    <textarea [(ngModel)]="member.companyDescription"  name="companyDescription" rows="3"></textarea>
                </form>
            </tab> -->
<!--    
            <tab heading='Application Details'>
                <form>
                <h4>How to apply</h4>
                <textarea [(ngModel)]="member.howToApply" name="howToApply" rows="3"></textarea><br>
                    <label for="applyEmail"><strong>Link to apply - optional: </strong></label>
                    <input [(ngModel)]="member.applyEmail" type="text" name="applyEmail" class="form-control mb-2">
                <h4>Contact person</h4>
                <p>Add or change photo of contact person in photo tab</p>
                <p>
                    <img src="{{member.hrUrl || '../../assets/images/coluser.PNG'}}" alt="{{member.contact}}"
                    class="img-hrthumbnail">
                </p>
                    <label for="contact"><strong>Name: </strong></label>
                    <input [(ngModel)]="member.contact" type="text" name="contact" class="form-control mb-2">
                    <label for="contactTitle"><strong>Title: </strong></label>
                    <input [(ngModel)]="member.contactTitle" type="text" name="contactTitle" class="form-control mb-2">
                 </form>           
            </tab> -->
            
            <tab heading='Edit Logo'>
                <app-photo-editor [member]="member"></app-photo-editor>
            </tab>  
        </tabset>
    </div>
 </div>

