.img-hrthumbnail {
  height: 15%;
  width: 15%;
}

/* .img-logoUrl {
  height: 400px;
  width: 400px;
  margin: 0;
} */

h2 {
  font-weight: bold;
}

textarea {
  width: 90%;
}

input {
  width: 90%;
}
